@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Permanent+Marker&family=Sedgwick+Ave&display=swap');

:root {
  --blue: rgb(14, 49, 63);
  --green: #04AA6D;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  position: relative;
}

body {
  font-family: 'DM Serif Display', serif;
  background-color: url('./assets/wood-background.gif');
}

button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--green);
  color: var(--green);
  background: none;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  color: white;
  background-color: var(--blue);
}

.courier {
  font-family: "Courier New", monospace;
}

/* NAVBAR */
header nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100vw; 
  top: 2vh;
  align-items: center;
  background:var(--blue);
  z-index: 1;
}

/* .search-by-layout {
  text-align: right;
} */

main nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100vw; 
  top: calc(2vh + 60px);
  z-index: 1;
}

main > div {
  text-align: right;
}

header nav h3 {
  margin-right: auto;
  color: white;
  margin-left: 10%;
  font-size: 1.5rem;
}

header nav a {
  display: block;
  color: white;
  font-size: 1.2rem;
  margin: 0 25px;
}

main nav a {
  display: block;
  color: var(--blue);
  font-size: 1.2rem;
  /* margin: 0 25px; */
}

main nav a:first-child {
  margin-left: 70%;
}

main nav a:last-child {
  margin-right: 10vw;
}

header nav a:last-child {
  margin-right: 10%;
}

header nav a.active,
main nav a.active{
  color:var(--green);
}

/* BREADCRUMBS*/
.breadcrumbs {
  margin-top: calc(2vh + 60px);
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.crumb:first-child {
  margin-left: 10vw;
}

.crumb a {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
  font-size: 1.25em;
}

.breadcrumbs .crumb:after {
  content: '➼';
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after{
  display: none;
}

/* CONTENT */
body {
  background-image: url('./assets/wood-background.gif');
}

/* .main-container,
.search-by-container {
  position: relative;
  animation: transitionImg 1s; 
} */

.book-container {
  position: relativ;
  text-align: center;
}

.book-container > img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15vh;
  max-width: 70vw;
}

.main-search,
.adv-search,
.about-container {
  position: absolute;
  max-width: 15vw;
  max-height: 70vh;
  top: 28vh;
  left: 60%;
  right:25%;
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 30px;
  animation: transitionImg 1s;
}

.main-search > form,
.adv-search > form {
  display: flex;
  flex-direction: column;
}

.main-search > form > button,
.adv-search > form > button {
  width: 150px;
  height: 40px;
  margin-top: 1vh;
  font-size: large;
}

.main-search > form > label,
.adv-search > form > label {
  position: relative;
}

.main-search > form > label > input,
.adv-search > form > label > input {
  width: 15vw;
  padding: 10px;
  border: 1px solid var(--green);
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
  background: none;
  transition: 0.5s;
}

.main-search > form > label > span,
.adv-search > form > label > span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--green);
  text-transform: uppercase;
}

.main-search > form > label > input:valid ~ span,
.main-search > form > label > input:focus ~ span,
.adv-search > form > label > input:valid ~ span,
.adv-search > form > label > input:focus ~ span
{
  transform: translateX(10px) translateY(-7px);
  transition: 0.5s;
  font-size: 0.65em;
  padding: 0 10px;
  background: #eee8e1;
}

.close {
  display: none;
}

.story {
  animation: transitionImg 3s;  
}

@keyframes transitionImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* TABLE */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: rgba(255, 255, 255, 0.5);}

table tr:hover {background-color: #ddd;}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--green);
  color: white;
}




